$primary: #1F2128; // Page
$secondary: #1b2548; // Drawer
$accent: #0e1a40; // Header
$info: #eeeeee; // Common Text Color

// Override Quasar Themes
[data-theme='dark'] {
  --q-color-primary: #{$primary};
  --q-color-secondary: #{$secondary};
  --q-color-accent: #{$accent};
  --q-color-info: #{$info};
  // Custom Theme Classes
  .text-header {
    color: $info;
  }
}
